*{
    margin: 0;
     font-family: "Arsenal", sans-serif;
        


}

nav{
    height: 80px;
    background-color: #112244;
    display: flex;
    justify-content: center;
    align-items: center;
 
    


}

nav ul li a{

    color: white;
    text-decoration: none;
    font-size: 20px;
   
   
    

}

nav ul li{
 list-style: none;
  
}


nav ul {
    display: flex;
    gap: 20px;
}

#atual{
    color: coral;
}
footer div{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    

}
footer img{
    width: 40px;

}
footer {
    text-align: center;
    justify-items: center;
}
footer p {
    padding-bottom: 20px
    ;
}
.bolinha{
    height: 10px;
    background-color: coral;
    width: 100%;
    margin-bottom: 20px;
}